<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mt-3">

    <a class="navbar-brand" href="#">
      <img src="assets/images/video.png" width="30" height="30" alt="">
      VIDEOTECA
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Mis videos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Guardar video</a>
        </li>

      </ul>

      <ul class="navbar-nav right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/register']">Registrárse</a>
        </li>
      </ul>

      <ul class="navbar-nav right" *ngIf="identity">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{identity.name+' '+identity.surname}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Perfil</a>
          <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
        </div>
      </li>
      </ul>
    </div>
  </nav><!---fin de navbar--->

  <!----contenido page home--->

  <router-outlet></router-outlet>

</div>
